@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h1>Add a Treat</h1>
<hr>
<h3>Add a Treat for this Flavor: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" />
}