@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
  @Html.Hidden("TreatId", (int)ViewBag.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new Flavor" />
}

<nav class="navbar navbar-light">  
  <div class="container-fluid" id="nav-background">  
    <ul class="nav navbar-nav">
      <button type="button" class="btn btn-dark">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span><li>@Html.ActionLink("Finish", "Details", "Treats", new { id = ViewBag.TreatId })</li>  
      </button>
    </ul>  
  </div>  
</nav>