@{
  Layout = "_Layout";
}

@using PierreTreats.Models;
@model List<PierreTreats.Models.Flavor>;

<h1>Pierre's Treats!</h1>
<h3>Welcome back to Pierre's!</h3>
<p>Select what new treats or falvors you would like to view above.</p>

<h1>Here are all your Treats and Flavors:</h1>

<h3>Treats:</h3>
@foreach(Treat treat in ViewBag.Treats)
{
  <a href="/Treats/Details/@treat.TreatId">@(treat.Name)</a> <br>
}

<h3>Flavors:</h3>
@foreach(Flavor flavor in Model)
{
  <a href="/Flavors/Details/@flavor.FlavorId">@(flavor.Name)</a> <br>
}

@if (ViewBag.value == false)
{
  <h3>No results found. Try again.</h3>
}

<h3>If you would like to search the database, use the form below!</h3>
@using (Html.BeginForm())
{
  <p>Select what you would like to search by:</p>
  <select class="form-control" id="SearchOption" name="SearchOption">
    <option>Select an option</option>
    <option>Treat</option>
    <option>Flavor</option>
  </select>

  @Html.Label("Search Term: ");
  @Html.TextBox("SearchTerm");
  <input type="submit" value="Search!" />
}