@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h1>Add a Flavor</h1>
<hr>
<h3>Add a Flavor for this Treat: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}