@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat

<h1>Are you sure you want to remove this Treat?</h1>
<hr>
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}