@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat

<h1>Edit</h1>

<h3>Edit this Treat: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}